<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho Vue</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div id="app"></div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

        const produtosLista = [
            {
                id: 'abc123',
                nome: 'JSRaiz para FW',
                preco: 300,
                descricao: 'O melhor curso do mundo',
                imagem: 'http://lorempixel.com/400/200'
            },
            {
                id: 'bbc123',
                nome: 'JSRaiz para Node',
                preco: 1200,
                descricao: 'O melhor curso de todos',
                imagem: 'http://lorempixel.com/400/200'
            },
            {
                id: 'cbc123',
                nome: 'Programação funcional com JS',
                preco: 500,
                descricao: 'O melhor funcional de todos',
                imagem: 'http://lorempixel.com/400/200'
            }
        ];

        const ProdutoComponent = {
            props: ['item'],
            template: `
            <div class="col-sm-4 mb-3">
                <div class="card loja__item">
                    <img class="card-img-top" v-bind:src="item.imagem" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.nome }}</h5>
                        <small>R$\${{ item.preco }},00</small>
                        <p class="card-text">{{ item.descricao }}</p>
                        <button data-index="0" href="#" data-value="300" class="btn btn-primary btn-add">Adicionar</button>
                    </div>
                </div>
            </div>
            `
        };

        const ListaProdutosComponent = {
            template: `
            <div class="row loja">
                <slot />
            </div>
            `
        };

        const CarrinhoComponent = {
            template: `
            <div class="carrinho">
                <div class="carrinho__itens">
                    <div class="card carrinho__item">
                        <div class="card-body">
                            <h5 class="card-title">JSRaiz para FW</h5>
                            <p class="card-text">Preço unidade: R$300,00 | Quantidade: 2</p>
                            <p class="card-text">Valor: R$600,00</p>
                            <button href="#" data-value="300" class="btn btn-danger btn-sm">Remover</button>
                        </div>
                    </div>
                </div>
                <div class="carrinho__total mt-2 p-3">
                    <h4><strong>Carrinho Vazio</strong></h4>
                </div>
            </div>          `
        };

        new Vue({
            el: '#app',
            components: {
                ListaProdutos: ListaProdutosComponent,
                Produto: ProdutoComponent,
                Carrinho: CarrinhoComponent
            },
            data: function(){
                return {
                    itens: produtosLista
                }
            },
            template: `

            <div class="container">
                <h1>Carrinho Vue</h1>
                <hr>
                <div id="app" class="row">
                    <div class="col-sm-8">
                        <ListaProdutos>
                            <Produto 
                                v-for="item in itens"
                                v-bind:item="item"
                            />
                        </ListaProdutos>
                    </div>
                    <div class="col-sm-4">
                        <Carrinho />
                    </div>
                </div>
            </div>
            `
        });
    </script>
</body>

</html>